<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="BeaconAppLoadTest"> <!--  parallel="classes" thread-count="1">-->

  <test name="BeaconTest">
  <classes>
  <class name ="com.beacon.test.AppTestDeviceOne"/>
  </classes>
  </test> 
  
  
</suite>
            